html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.title {
    margin: 0;
    text-align: center;
    background-color: #009059;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
}

#mainCont {
    /*border: 1px solid #000;*/
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    min-height: 600px;
}

/* Corresponde al contenedor del mapa */
#mapCont {
    position: relative;
}

.mapLoader {
    /*border: 1px solid #000;*/
}

.loadingSpinner {
    background-image: url("../assets/spinner.svg");
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

/* Corresponde al canvas del mapa */
.map {
    height: 600px;
    position: fixed;
    width: 430px;
    visibility: hidden;
}

.ul_vnostyle {
    list-style-type: none;
    padding: 0;
}

#infoCont {
    padding: 0 15px;
    border-left: 1px solid #000;
    /*width: 60%;
    display: inline-block;*/
    right: 0;
    
}

#tooltip {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 3px 6px #000;
    display: none;
    font-size: 0.9em;
}

#ic_municipios > ul li { margin: 10px 0; }
#ic_municipios > ul li:first-child { margin-top: 0px; }
#ic_municipios > ul li:last-child { margin-bottom: 0px; }

.muniButton {
    border: 1px solid #409059;
    background-color: #009059;
    padding: 10px;
    margin: 10px 0 0;
    cursor: pointer;
    color: #fff;
    transition: background-color linear 0.1s;
    position: relative;
    user-select: none;
}

.muniButton:hover {
    background-color: #00b36e; 
}

.muniName {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}

.muniDir {
    font-size: 0.8em;
}

.consignaMainCont {
    display: none;
}

/* Corresponde al contenedor principal de consignas. */
.consignaCont {
    border: 1px solid #409059;
    background-color: #b7e0af;
    padding: 20px;
    margin-bottom: 10px;
}

.consignaCont h2 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a4ca9c;
}

.politicasList {
    border: 1px solid #a4ca9c;
    list-style: none;
    padding: 10px;
    background-color: #f0fff6;
}

/* Corresponde  */
.politica_button {
    border: 1px solid #409059;
    padding: 10px;
    background-color: #409059;
    cursor: pointer;
    display: block;
    color: #fff;
    font-weight: bold;
    user-select: none;
    position: relative;
    transition: background-color linear 0.1s;
}

.downArrow {
    background-image: url("../assets/arrow.svg");
    background-size: contain;
    height: 24px;
    width: 24px;
    color: #fff;
    display: inline-block;
    right: 10px;
    position: absolute;
    transform: rotate(90deg);
    transition: transform 0.25s ease-in-out;
}

.upArrow {
    transform: rotate(-90deg) !important;
}

.politica_button:hover {
    background-color: #4daf6c;
}

/* Corresponde al contenedor con la información de la política seleccionada */
.p_infoCont {
    border: 1px solid #409059;
    background-color: #b7e0af;
    padding: 10px;
    display: none;
}

.p_ic_pName {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 1px solid #9bc592;
}

.p_ic_pTxt {
    font-size: 0.9em;
    margin: 15px 0;
}